@charset "utf-8";
/* CSS Document */
* {
    padding: 0rem;
    margin: 0rem;
    font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}



.float_l {
    float: left;
}

.search {
    width: 18.2rem;
    height: 2.3rem;
    background: #f4f4f4;
    border-bottom: 0.05rem solid #dddddd;
    padding-top: 0.45rem;
}

.search .sear_input {
    background: url(../../images/s_input_bg.png) no-repeat;
    width: 12.65rem;
    height: 1.7rem;
    font-size: 0.6rem;
    line-height: normal;
    line-height: 1.7rem\9;
    border: none;
    float: left;
    margin-left: 0.65rem;
    display: inline;
    margin-right: 0.2rem;
    padding-left: 0.15rem;
    vertical-align: middle;
}

.searselect_input {
    height: 1.6rem;
    font-size: 0.6rem;
    line-height: normal;
    line-height: 1.7rem\9;
    border: none;
    display: inline;
    margin-right: 0.2rem;
    padding-left: 0.15rem;
    vertical-align: middle;
    float: left;
    width: 67%;
}

.searselect_input option {
    display: block;
    padding: 0rem 0.1rem 0.05rem;
    white-space: pre;
    min-height: 1.2em;
    vertical-align: middle;
}

.search .sear_btn {
    background: url(../../images/search_btn1.png) no-repeat;
    width: 3.6rem;
    height: 1.6rem;
    border: none;
    font-size: 0.7rem;
    float: left;
    cursor: pointer; /*search_btn.png  */
}

.gps_input {
    background: url(../../images/s_input_bg.png) no-repeat;
    width: 55%;
    height: 1.7rem;
    font-size: 0.7rem;
    line-height: normal;
    line-height: 1.7rem\9;
    border: none;
    float: left;
    display: inline;
    margin: 0 0.2rem 0.1rem 0.25rem;
    padding-left: 0.15rem;
    vertical-align: middle;
}

.sear_gps {
    background: url(../../images/search_btn.png) no-repeat;
    width: 3.6rem;
    height: 1.6rem;
    border: none;
    font-size: 0.7rem;
    float: left;
    cursor: pointer; /*search_btn.png  */
}

.gpsFloatLeft {
    float: left;
    font-size: 0.75rem;
    font-family: Microsoft YaHei;
    margin-top: 0.3rem;
    width: 3rem;
    text-align: center;
}

#gpsListOption ul li {
    width: 33%;
    float: left;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background-color: #f4f4f4;
    cursor: pointer;
}

#gpsDetailList li {
    height: 3.15rem;
    width: 100%;
    padding: 0.2rem 0 0.1rem 0;
}

.gpsEntryClass {
    font-size: 0.6rem;
    color: #3c3c3c;
    margin: 0 0.8rem 0rem 0;
    float: left;
    height: 1.1rem;
    line-height: 1.1rem;
    cursor: pointer;
    overflow: hidden;
    display: inline;
}

.currentGps {
    background-color: #5BADF8 !important;
}

#gpsDetailList {
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    width: 100%;
}

#gpsSearch {
    height: 3.25rem;
}

#gpsSearchDiv {
    height: 1.75rem;
}

#gpsOrgDiv {
    height: 1.5rem;
    position: relative;
}

#gpsZzjgTree {
    position: absolute;
    width: 70%;
    left: 3.5rem;
    margin-top: 0.25rem;
    z-index: 400;
    background-image: url('../image/zzjgtree.bmp')
}

#gpsDetailList p {
    font-size: 0.7rem;
    font-family: Microsoft YaHei;
}

.rlFloatLeft p:first-child {
    font-size: 0.75rem !important;
    margin-bottom: 0.3rem;;
    color: #35c;
}

.gpsDetailImg {
    float: left;
    padding: 0.25rem 0.75rem 0 0;
}

.gpsMoreOptionImg {
    width: 0.3rem;
    height: 0.35rem;
    padding: 0.65rem 0 0.15rem 0.1rem;
    float: left;
}

#gpsAttrOption {
    display: none;
    position: absolute;
    background: #f4f4f4;
    width: 3.5rem;
    z-index: 999;
    border: 0.05rem solid #d1d1d1;
    margin-top: 1.75rem;
}

#gpsAttrOption  li {
    width: 3.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 0.8rem;
    color: #6f7070;
    font-family: Microsoft YaHei;
}

.gpsNoResultWarn {
    font-size: 0.7rem;
    color: red;
    padding-top: 0.25rem !important;
    text-align: center;
}

#gpsList hr {
    height: 0.05rem;
    border: 0;
    border-top: 0.05rem solid rgba(111, 37, 37, 0.2);
    margin: 0.1rem 0;
    width: 100%;
}

#whitearrow {
    background: url(../../images/whitearrow.jpg) no-repeat;
    height: 1.6rem;
    width: 0.7rem;;
    float: right;
    margin-right: 0.25rem;
    border-radius: 0rem 0.15rem 0.15rem 0rem;
}

.sec_nav {
    height: 1.7rem;
    line-height: 1.7rem;
    background: #f4f4f4;
}

.sec_nav dl {
    font-size: 0.6rem;
}

.sec_nav dl dt {
    float: left;
}

.sec_nav dl dt a {
    background: url(../../images/home.png) 0.75rem center no-repeat;
    padding-left: 2rem;
    display: block;
    color: #525252;
}

.sec_nav dl dd {
    float: right;
}

.sec_nav dl dd a {
    background: url(../../images/shoucang.png) 0.75rem center no-repeat;
    padding-left: 2rem;
    display: block;
    margin-right: 0.45rem;
    color: #525252;
}

.dangan_part_two {
    width: 16.7rem;
    margin-top: 0.35rem;
    margin-left: 0.6rem;
}

.dangan_part_two strong {
    border: 0.05rem solid #d7d7d7;
    border-bottom: none;
    height: 1.2rem;
    clear: both;
}

.dangan_part_two .t-menu-p {
    background: #f6f6f6;
    height: 1.2rem;
    line-height: 1.2rem;
    display: block;
    padding-left: 0.4rem;
}

.dangan_part_two .t-menu-i {
    font-style: normal;
    float: left;
}

.dangan_part_two .t-menu-p a.up_down {
    float: right;
    background: url(../../images/down.png) no-repeat;
    display: block;
    width: 0.75rem;
    height: 0.6rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.dangan_part_two .t-menu-p-current a.up_down {
    float: right;
    background: url(../../images/up.png) no-repeat;
    display: block;
    width: 0.75rem;
    height: 0.6rem;
}

.dangan_part_two .t-menu-c {
    padding-top: 0.35rem;
    border: 0.05rem solid #d7d7d7;
    border-top: none;
    height: 2.1rem;
}

.dangan_part_two .t-menu-c dl {
    height: 1.3rem;
    line-height: 1.3rem;
    float: left;
    margin-top: 0.2rem;
}

.dangan_part_two .t-menu-c dl dt {
    float: left;
    width: 3.1rem;
    text-align: center;
}

.dangan_part_two .t-menu-c dl dd {
    float: left;
}

.dangan_part_two ul li {
    float: left;
    margin-left: 0.05rem;
    display: inline;
    margin-top: 0.35rem;
}

.dangan_part_two ul li a {
    text-decoration: none;
    display: block;
    width: 2rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #4f5565;
}

.dangan_part_two ul li a.current {
    background: url(../../images/lx_bg.png) left 0.05rem no-repeat;
    color: #4289ff;
}

.input2 {
    border: none;
    color: #999999;
    padding-left: 0.4rem;
    width: 4.7rem;
    height: 1.3rem;
    line-height: 1.3rem;
    background: url(../../images/data_bg.png) no-repeat;
    cursor: pointer;
}

.dd_date {
    position: relative;
    height: 1.3rem;
    z-index: 2;
}

.dd_date span {
    z-index: 200;
    right: 0rem;
    top: 1.3rem;
}

a.NextMonth {
    background: url(../../images/date_r.png) no-repeat;
    width: 0.2rem;
    height: 0.35rem;
}

a.LastMonth {
    background: url(../../images/date_l.png) no-repeat;
    width: 0.2rem;
    height: 0.35rem;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
}

.calender li a.today {
    color: #ffffff;
}
/*

.dangan_part_three { width:16.7rem;margin-top:0.35rem; margin-left:0.6rem;  clear:both;}
.dangan_part_three strong{ border:0.05rem solid #d7d7d7; border-bottom:none; }

.dangan_part_three .t-menu-p{ background:#f6f6f6; height:1.2rem; line-height:1.2rem; display:block; padding-left:0.4rem;}
.dangan_part_three .t-menu-i{ font-style:normal; float:left}
.dangan_part_three .t-menu-p a.up_down{ float:right; background:url(../../images/down.png) no-repeat; display:block; width:0.75rem; height:0.6rem;margin-top:0.5rem; margin-right:0.5rem;}
.dangan_part_three .t-menu-p-current a.up_down{ float:right; background:url(../../images/up.png) no-repeat; display:block; width:0.75rem; height:0.6rem;}

.dangan_part_three .t-menu-c{ padding-left:0.1rem; border:0.05rem solid #d7d7d7; border-top:none; height:1.75rem;}
*/
#lib_Tab1 {
    width: 16.7rem;
    margin-left: 0.6rem;
    border: 0.05rem solid #d7d7d7;
    margin-top: 0.55rem;
    clear: both;
}

.lib_Menubox1 {
    background: #f6f6f6;
    height: 1.5rem;
}

.lib_Menubox1 ul li {
    float: left;
    width: 5.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.6rem;
    text-align: center;
    color: #4f5565;
    border-right: 0.05rem solid #d7d7d7;
    cursor: pointer;
}

.lib_Menubox1 ul li.hover {
    background: url(../../images/hover_bg.png) repeat-x;
    color: #4289ff;
}

.lib_Menubox1 ul li#five3 {
    border-right: none;
}

.gzcz_con01 {
    width: 15.1rem;
    height: 100%;
    margin-left: 0.4rem;
    margin-top: 0.3rem;
}

.gz_tag, .gz_tag_h {
    height: auto;
    overflow: hidden;
    width: 15.1rem;
    height: 6.15rem;
}

.gz_tag .gz_tag_l, .gz_tag_h .gz_tag_l {
    float: left;
    width: 2rem;
    height: 1.75rem;
}

.gzcz_con01 .gz_tag_m {
    width: 12.6rem;
    float: left;
}

.gz_tag_h {
    background: #f6f6f6;
}

.gz_tag_h .gz_tag_m {
    width: 12.6rem;
    float: left;
}

.gz_tag .gz_pic_jy {
    display: block;
    background: url(../../image/red.png) 0.25rem 0.25rem no-repeat;
    width: 1.35rem;
    height: 2.1rem;
}

.gz_tag_h .gz_pic_jy {
    display: block;
    background: url(../../image/blue.png) 0.25rem 0.25rem no-repeat;
    width: 1.35rem;
    height: 2.1rem;
}

.p_title {
    color: #003ea5;
    font-size: 0.7rem;
    height: 2rem;
    line-height: 2rem;
}

.gz_tag .gz_tag_more {
    display: none;
}

.p_lineheight {
    line-height: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20em;
}

.gz_tag_h .gz_tag_more {
    display: block;
    height: 1.25rem;
    line-height: 1.25rem;
    width: 12.5rem;
    clear: both;
    border: 0.05rem solid #d7d7d7;
}

.gz_tag_h .gz_tag_more li {
    float: left;
    width: 6.25rem;
    text-align: center;
    background: #fcfcfc;
}

.gz_tag_h .gz_tag_more li.fx a {
    background: url(../../images/fx.png) 1.25rem 0.2rem no-repeat;
    display: block;
    border-right: 0.05rem solid #d7d7d7;
    color: #000000;
}

.gz_tag_h .gz_tag_more li.sc a {
    background: url(../../images/sc.png) 1.25rem 0.2rem no-repeat;
    display: block;
    border-right: 0.05rem solid #d7d7d7;
    color: #000000;
}

.test2 .subroad {
    overflow: hidden;
}
/*
.toolbar{ position:absolute;height:1.6rem; line-height:1.6rem; background-color:#f3f3f3; text-align:right; z-index:200; top:0rem; left:0rem;}
.toolbar{ position:absolute;height:1.6rem; line-height:1.6rem; background:url(../../images/toolbar_bg2.png) repeat-x; text-align:right; z-index:200; top:0rem; left:0rem;}
 .toolbar:hover{ position:absolute;height:1.6rem; line-height:1.6rem;background-color:#f3f3f3; text-align:right; z-index:200; top:0rem; left:0rem;}
.toolbar ul li a{  color:#515151; display:block;float:left;height:1.6rem;line-height:1.6rem; }
.toolbar ul{ float:right; width:18rem;}
.toolbar ul li.a5 a{ background:url(../../images/mark.png) left center no-repeat; padding-left:1rem;}
.toolbar ul li.a5 a:hover{ background:url(../../images/mark2.png) left center no-repeat; padding-left:1rem;color: #0D72CF;}
*/
.toolbar ul li {
    float: left;
    height: 1.6rem;
    line-height: 1.6rem;
}

.toolbar ul li a span {
    padding-top: 0.25rem;
    text-align: left !important;
}

.toolbar ul li.a1 a {
    background: url(../../images/dingwei.png) left center no-repeat;
    padding-left: 1rem;
}

.toolbar ul li.a1 a:hover {
    background: url(../../images/dingwei2.png) left center no-repeat;
    padding-left: 1rem;
    color: #0D72CF;
}

.toolbar ul li.a2 a {
    background: url(../../images/quanp.png) left center no-repeat;
    padding-left: 1rem;
}

.toolbar ul li.a2 a:hover {
    background: url(../../images/quanp2.png) left center no-repeat;
    padding-left: 1rem;
    color: #0D72CF;
}

.toolbar ul li.a4 a {
    background: url(../../images/shijing.png) left center no-repeat;
    padding-left: 1rem;
}

.toolbar ul li.a4 a:hover {
    background: url(../../images/shijing2.png) left center no-repeat;
    padding-left: 1rem;
    color: #0D72CF;
}

.toolbar ul li.a8 a {
    background: url(../../images/share.png) 20% center no-repeat;
    padding-left: 1.25rem;
}

.toolbar ul li.a8 a:hover {
    background: url(../../images/share2.png) 20% center no-repeat;
    padding-left: 1.25rem;
    color: #0D72CF;
}

.toolbar ul li.a11 a {
    background: url(../../images/print.png) 20% center no-repeat;
    padding-left: 1.25rem;
}

.toolbar ul li.a11 a:hover {
    background: url(../../images/print2.png) 20% center no-repeat;
    padding-left: 1.25rem;
    color: #0D72CF;
}

.toolbar ul li.a12 a {
    background: url(../../images/clear.png) 20% center no-repeat;
    padding-left: 1.25rem;
}

.toolbar ul li.a12 a:hover {
    background: url(../../images/clear2.png) 20% center no-repeat;
    padding-left: 1.25rem;
    color: #0D72CF;
}

.toolbar ul li.a13 a {
    background: url(../../images/Icon_ZoomIn02.png) left center no-repeat;
    padding-left: 1rem;
}

.toolbar ul li.a13 a:hover {
    background: url(../../images/Icon_ZoomIn01.png) left center no-repeat;
    padding-left: 1rem;
    color: #0D72CF;
}

.toolbar ul li.a14 a {
    background: url(../../images/Icon_ZoomOut02.png) left center no-repeat;
    padding-left: 1rem;
}

.toolbar ul li.a14 a:hover {
    background: url(../../images/Icon_ZoomOut01.png) left center no-repeat;
    padding-left: 1rem;
    color: #0D72CF;
}

.toolbar ul li.a2 a {
    background: url(../../images/shezhi.png) left center no-repeat;
    padding-left: 1rem;
    _padding-top: 0.4rem;
    _height: 1.2rem;
}

.toolbar ul li.a2 ul li.a5 a {
    background: url(../../images/ceju.png) 15% center no-repeat;
    padding-left: 1.5rem;
    text-align: left;
}

.toolbar ul li.a2 ul li.a5 a:hover {
    background: url(../../images/ceju2.png) 20% center no-repeat;
    padding-left: 1.5rem;
    color: #0D72CF;
}

.toolbar ul li.a3 a {
    background: url(../../images/shezhi.png) left center no-repeat;
    padding-left: 1rem;
    _padding-top: 0.4rem;
    _height: 1.2rem;
}

.toolbar ul li.a3 ul li.a6 a {
    background: url(../../images/ceju.png) 15% center no-repeat;
    padding-left: 1.5rem;
    text-align: left;
}

.toolbar ul li.a3 ul li.a6 a:hover {
    background: url(../../images/ceju2.png) 20% center no-repeat;
    padding-left: 1.5rem;
    color: #0D72CF;
}

.toolbar ul li.a3 ul li.a7 a {
    background: url(../../images/cemian.png) 15% center no-repeat;
    padding-left: 1.5rem;
    text-align: left;
}

.toolbar ul li.a3 ul li.a7 a:hover {
    background: url(../../images/cemian2.png) 20% center no-repeat;
    padding-left: 1.5rem;
    color: #0D72CF;
}

.toolbar ul li.a3 ul li.a9 a {
    background: url(../../images/dukong.png) 15% center no-repeat;
    padding-left: 1.5rem;
    text-align: left;
}

.toolbar ul li.a3 ul li.a9 a:hover {
    background: url(../../images/dukong2.png) 20% center no-repeat;
    padding-left: 1.5rem;
    color: #0D72CF;
}

.toolbar ul li.a3 ul li.a10 a {
    background: url(../../images/route.png) 15% center no-repeat;
    padding-left: 1.5rem;
    text-align: left;
}

.toolbar ul li.a3 ul li.a10 a:hover {
    background: url(../../images/route2.png) 20% center no-repeat;
    padding-left: 1.5rem;
    color: #0D72CF;
}

.toolbar ul li ul {
    width: 4.25rem;
    clear: both;
    border: 0.05rem solid #b2b2b2;
    background: #f6f6f6;
    float: none;
    padding-bottom: 0.4rem;
    position: absolute;
    top: 1.6rem;
}

.toolbar ul li ul li {
    float: none;
    height: 1.25rem;
    padding-top: 0.25rem;
}

.toolbar ul li ul li a {
    height: 1.5rem;
}

.toolbar ul li ul li a img {
    vertical-align: middle;
    margin-right: 0.2rem;
}

.toolbar ul li ul li.a4 a, .toolbar ul li ul li.a5 a, .toolbar ul li ul li.a6 a,
.toolbar ul li ul li.a7 a, .toolbar ul li ul li.a8 a, .toolbar ul li ul li.a9 a,
.toolbar ul li ul li.a10 a, .toolbar ul li ul li.a11 a {
    padding-left: 2.5rem;
    text-align: center;
    display: block;
    width: 2.75rem;
    background: none;
    float: none;
}

.toolbar ul li ul li a:hover {
    display: block;
    background: #ffffff;
}

.rollBox { /*height:20rem;*/
    width: 18.2rem;
    overflow: hidden;
}

.LeftBotton {
    width: 1.3rem;
    height: 1.9rem;
    margin-top: 4.45rem;
    cursor: pointer;
    float: left;
}

.RightBotton {
    width: 1.3rem;
    height: 1.9rem;
    margin-top: 4.45rem;
    cursor: pointer;
    float: left;
}

.rollBox .scrollcon { /*width:16.5rem; height:22rem;  */
    padding-left: 0.25rem;
}

.rollBox .Cont {
    height: auto;
    display: block;
    margin: 0rem auto; /*width:16.5rem; text-align:center;  */
    vertical-align: middle;
    float: left;
    margin: 0rem 0rem 0rem 0.6rem; /* overflow: auto; */
}

.rollBox #List1, .rollBox #List2, .rollBox #List3 {
    float: left;
}

.rollBox .Cont ul li {
    /* height:3.4rem;  width:3.8rem; margin-top:1.4rem; text-align:center; */
    /*  float:left; */

}

.rollBox .Cont ul li a {
    display: block;
    text-align: center;
    color: #575d6b;
}

.tab1, .tab2 {
    width: 15rem;
    height: 1.7rem;
    border: 0.05rem #cfedff solid;
    border-bottom: 0;
}

.tab1 ul, .tab2 ul {
    margin: 0;
    padding: 0;
}

.tab1 li, .tab2 li {
    float: left;
    width: 2.5rem;
    padding: 0 1rem;
    height: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    border-right: 0.05rem #ebf7ff solid;
    cursor: pointer;
}

.tab1 li.now, .tab2 li.now {
    color: #5299c4;
    background: #fff;
}

.tablist {
    margin-left: -0.45rem;
    width: 14rem;
    height: 1.75rem;
    padding: 0.5rem;
    font-size: 0.7rem;
    line-height: 1.2rem;
    border: 0.05rem #cfedff solid;
    border-top: 0;
    display: none;
}

.block {
    display: block;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.roadheader {
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: left;
    padding-left: 0.25rem;
    background-color: #f2f2f2;
    cursor: auto;
}

.tool2 {
    position: absolute;
    z-index: 15;
    right: 0rem;
    width: 0rem;
    min-height: 2.7rem;
    background: #ffffff;
    top: 8.25rem;
    border: 0.05rem solid #c1c2c0;
    overflow: hidden;
}

.tool2 h2 {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.6rem;
    padding-left: 0.75rem;
    background: #f2f2f2
}

.tool2 ul li {
    height: 1.8rem;
    line-height: 1.8rem;
    padding-left: 0.75rem;
    width: 8.25rem;
}

.tool2 ul li.even {
    background: #ffffff;
}

.tool2 ul li.odd {
    background: #fafafa;
}

.tool2 ul li.blue1, .tool2 ul li.blue2 {
    background: #4389ff;
}

.tool2 ul li .span1 {
    float: left;
}

.tool2 ul li .span2 {
    float: right;
}

.tool2 ul li .span2 img {
    margin-right: 0.75rem;
    vertical-align: middle;
    margin-top: 0.3rem;
    cursor: pointer;
}

.closeimg {
    position: absolute;
    z-index: 18;
    right: -0.05rem;
    top: 8.25rem;
    cursor: pointer;
}

.lucheng {
    width: 16.7rem;
    margin-left: 0.6rem;
    border: 0.05rem solid #d7d7d7;
    margin-top: 0.55rem;
    clear: both;
}

.lucheng h2 {
    height: 1.55rem;
    line-height: 1.55rem;
    background: #ebf2fa;
    color: #003ea5;
    font-family: "Microsoft YaHei,宋体";
    font-size: 0.65rem;
    padding-left: 0.25rem;
}

.lucheng dl {
    margin-left: 0.4rem;
}

.lucheng dt, .lucheng dd {
    border-bottom: 0.05rem solid #e5e5e5;
    height: 1.65rem;
    line-height: 1.65rem;
    padding-left: 0.55rem;
}

.address_s dd:hover, .address_e dd:hover {
    background: #f6f6f6;
}

.address_s dt span {
    background: #6ba3ff;
    color: #ffffff;
    padding: 0.2rem 0.3rem;
    margin-left: 1.3rem;
}

.line_s {
    background: url(../../images/start.png) 0.1rem 0.15rem no-repeat;
    padding-left: 1.9rem;
}

.line_e {
    background: url(../../images/end.png) 0.1rem 0.15rem no-repeat;
    padding-left: 1.9rem;
}

.mapService {
    height: 100%;
    position: relative;
}

.smallMap {
    opacity: 0;
}

.smallMap_filter {
    filter: alpha(opacity = 0);
}

#exitTrueMap {
    background: url(../../image/trueMap/exitmap.png);
}

#exitTrueMap:hover {
    background: url(../../image/trueMap/exitmap_on.png);
}

#showSmallMap {
    background: url(../../image/trueMap/mapshow.png);
}

#showSmallMap:hover {
    background: url(../../image/trueMap/mapshow_on.png);
}

#closeSmallMap {
    background: url(../../image/trueMap/maphidden.png);
}

#closeSmallMap:hover {
    background: url(../../image/trueMap/maphidden_on.png);
}

#markerTrueMap {
    background: url(../../image/trueMap/mapmarker.png);
}

#markerTrueMap:hover {
    background: url(../../image/trueMap/mapmarker_on.png);
}

.searchPanel {
    width: 18.2rem;
    height: 1.65rem;
    position: relative;
    top: 0rem;
    background-color: #f4f4f4;
    border-bottom: 0.05rem solid #dde1e5;
}

.searchPanel ul {
    width: 18.25rem; /* height: 1.45rem; */
    float: left;
}

.searchPanel ul li {
    margin-top: 0.45rem;
    float: left;
    width: 3.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 0.8rem;
    color: #6f7070;
    border-right: #ECECEC 0.1rem solid;
    padding-bottom: 0.15rem;
    font-family: Microsoft YaHei;
}

.searchThemeli {
    /*border-bottom:#1e8ae5 0.1rem solid;font-weight: bold;	color: #1e8ae5 !important;position:relative;*/
    color: #ffffff;
    background: url(../../v2/images/tab_li_bg03.png) no-repeat;
}
/*.moreOption{
	clear:both;
	display:none;
	position: absolute;
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	width:3.5rem;
	font-weight:normal !important;
	z-index:999;
	border: 0.05rem solid #d1d1d1;
}
.moreOption a{
	position: relative;
	display: block;
	margin: 0;
	padding: 0.5rem 0.75rem 0.25rem 0.25rem;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	background-color: #f4f7f8;
	color: #2875DE;
	border:none;
	border-bottom: dotted 0.05rem #ccc;
}
.moreOptionUl{height:auto;}
.moreOptionImg{width:0.3rem; height:0.35rem;padding-bottom:0.15rem;}
.moreOption ul li{clear:both;border-bottom: dotted 0.05rem #ccc;margin-top: 0rem;padding-top: 0.25rem;padding-bottom: 0.25rem;}
.moreOption ul li:hover{color:#fff;text-decoration:none;background:#93B0D1;}
*/
#tags_more {
    width: 3.75rem;
}

.moreSearImg {
    width: 0.3rem;
    height: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.15rem;
    border: 0.1rem solid;
}

#searOptDiv {
    display: none;
    position: absolute;
    margin-left: 13.65rem;
    margin-top: 1.65rem;
    border-radius: 0.1rem;
    width: 4.2rem;
    height: 3rem;
    background-color: #f5f5f5;
    border: #d5d1d2 0.05rem solid;
    cursor: pointer;
}

.toolImg {
    width: 0.3rem;
    height: 0.15rem;
    margin-bottom: 0.15rem;
}

#searOptDiv ul li:hover {
    color: #fff;
    text-decoration: none;
    background: #93B0D1;
}

.highFont {
    font-weight: bold;
    font-size: 0.75rem !important;
}

#searOptDiv ul li {
    font-size: 0.7rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-bottom: dotted 0.05rem #ccc;
    font-family: Microsoft YaHei;
    color: #6f7070;
    text-align: center;
}
/**修改地图的控制栏的默认css*/
.leaflet-top {
    top: 1.25rem !important;
}

.toppx {
    top: 2rem !important;
}
/**泡泡title样式修改*/
/***
#divPaint div ~div{border:0rem !important;background-color: rgb(145, 211, 252) !important;color:#4B5656 !important;padding: 0.1rem 0.1rem 0 0.1rem;}
#divPaint :nth-child(2){border:0rem !important;background-color: rgb(145, 211, 252) !important;color:#4B5656 !important;padding: 0.1rem 0.1rem 0 0.1rem;}
***/
#themeOptionSear {
    width: 13.05rem;
    float: left;
    height: 1.6rem;
    border: 0.05rem solid rgb(197, 187, 187);
    margin-left: 0.3rem;
    margin-right: 0.2rem;
}

#theLayersSelect {
    width: 30%;
    align-items: center;
    text-align: center;
    float: left;
    height: 1.6rem;
    border-right: 0.05rem solid rgb(231, 231, 231);
    border-left: 0rem;
    border-top: 0rem;
    border-bottom: 0rem;
}
/**
	气泡内 查询周边区域
	*/
#bubbleDetail {
    color: #F8F9FF;
    max-width: 16.5rem;
}

#bubbleDetail p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin: 0rem;
    padding: 0.05rem 0.5rem 0.05rem 0.5rem;
    color: #F8F9FF;
    line-height: 1rem;
}

#bubbleDetail p label:FIRST-CHILD {
    color: #F8F9FF;
    /* font-weight: bold; */
}

.searchAroundSpace {
    height: auto;
    /* background-color: #fff; */
    font-size: 0.6rem;
}

.searchAroundSpaceTitle {
    min-height: 1.25rem;
    line-height: 1.25rem;
    font-size: 0.6rem;
    text-align: center;
}

.searchAroundSpaceTitle i {
    font-size: 0.8rem;
    margin-right: 0.25rem;
}

.TitleTabActive {
    background-color: #4E8ABC;
    color: rgba(5, 14, 31, 1);
}

.search-around-icon {
    background: url("../../img/iw_bg_e21f82f.png") no-repeat -1.25rem -6.8rem;
}

.search-from-icon {
    background: url("../../img/iw_bg_e21f82f.png") no-repeat -0.55rem -6.8rem;
}

.search-to-icon {
    background: url("../../img/iw_bg_e21f82f.png") no-repeat 0.25rem -6.8rem;
}

.searchAroundSpaceTitle ul {
    list-style: none;
    position: relative;
}

.searchAroundSpaceTitle ul li {
    width: 30%;
    display: inline-block;
    text-align: center;
    border: 0.05rem solid #4E8ABC;
    color: #F8F9FF;
    line-height: 1.3rem;
}

.searchAroundSpaceTitle ul li:HOVER {
    cursor: pointer;
    background-color: #4E8ABC;
    color: rgba(5, 14, 31, 1);
}

.searchInputSpace {
    margin-bottom: 0.35rem;
    margin-top: 0.25rem;
    display: inline-block;
    border: 0.05rem solid #4E8ABC;
}

.onlineQpArea {
    margin-bottom: 0.2rem;
}

.themeQpMore {
    cursor: pointer;
}

.themeQpMore:hover {
    text-decoration: underline;
    color: rgba(5, 14, 31, 1) !important;
}

.qpMoreTheme {
    position: absolute;
    left: 0.5rem;
    bottom: 1.2rem;
    background-color: #f9f9f9;
    width: 15.5rem;
    max-height: 10.1rem;
    word-break: break-all;
    border: 0.05rem solid #999;
    overflow-y: auto;
    zoom: 1;
    clear: both;
}

.qpMoreTheme a {
    margin: 0.2rem 0.4rem 0.2rem 0.2rem;
    display: block;
    float: left;
    cursor: pointer;
}

.searchLayerBox {
    padding: 0.05rem 0.25rem 0rem 0.25rem;
    width: 15rem;
    margin: 0 auto;
    margin-left: -0.5rem;
}

.searchRoadBox {
    padding: 1.05rem 0rem 0rem 0.5rem;
    float: left;
}

.searchLayerBox a {
    /* margin: 0rem 0.4rem 0rem 0.1rem; */
}

.qpTitle i {
    margin-right: 0.6rem;
}

.qpTitle {
    font-weight: bolder;
    color: #F8F9FF;
    font-size: 0.65rem;
    padding: 0.4rem 0.75rem 0.4rem 0.5rem;
    border-bottom: 0.05rem solid #4E8ABC;
    background-color: rgba(5, 14, 31, .8);
    /* min-width:15rem; */
}

.qpInfo {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    white-space: normal;
    min-height: 4rem;
    position: relative;
}

.qpDetailsArea {
    height: auto;
}

.detailSub {
    font-size: 0.6rem;
    margin: 0 0 0.25rem 0.5rem;
    font-weight: normal;
    width: 3rem;
    height: 1rem;
    line-height: 1rem;
    padding: 0 0.25rem;
    color: #DFAC53 !important;
    cursor: pointer;
    display: block;
    position: relative;
}

.detailSub:hover {
    color: #01beff !important;
}

.detailsQpUrls {
    width: auto;
    position: absolute;
    left: -0.05rem;
    z-index: 1;
    display: none;
}

.detailsQpUrls li {
    height: 1rem;
    line-height: 1rem;
    padding: 0 0.25rem;
    background-color: #F5F7F7 !important;
    border: 0.05rem solid #ccc;
    border-top: 0rem;
    min-width: 2.6rem;
}

ul.detailsQpUrls li:FIRST-CHILD {
    border-top: 0.05rem solid #ccc;
}

ul.detailsQpUrls a {
    color: #666;
}

ul.detailsQpUrls a:hover {
    background-color: #F0F0F0 !important;
    color: #0099cc;
    text-decoration: underline;
}

#getDetailsbtn, #getAddrbtn {
    font-size: 0.6rem;
    margin-left: 0.5rem;
    font-weight: normal;
    position: absolute;
    display: block;
    bottom: 0.75rem;
    left: 0.3rem;
    border: 0.05rem solid #ccc;
    width: 3rem;
    height: 1rem;
    line-height: 1rem;
    padding: 0rem 0.25rem;
    color: #666;
    background-color: #f7f8f9;
    cursor: pointer;
}

#bubbleDetail .moreInfoBox {
    position: absolute;
    line-height: 1rem;
    text-align: right;
    font-size: 0.55rem;
    color: #0088cc;
    top: 0.25rem;
    right: 1.25rem;
}

#bubbleDetail .InfoList {
    padding: 0.25rem;
    overflow: hidden;
    margin-bottom: 2rem;
    font-size: 0.6rem;
}

.searchAroundSpaceContent {
    width: 16.5rem;
    height: 4rem;
    margin-left: 1rem;
}

.searchTypeOnline {
    margin-right: 0.1rem;
}

.searchTypeOnline a:hover {
    color: rgba(5, 14, 31, 1);
}

.searchType {
    margin-right: 0.1rem;
}

.searchType a:hover {
    color: rgba(5, 14, 31, 1) !important;
}

.searchAroundSpace input[type='text'] {
    width: 8.35rem;
    margin-right: 0rem;
    height: 1.25rem;
    background-color: transparent;
    border: none;
}

.ez-popup:before {
    border-top-color: rgba(5, 14, 31, .8) !important;
}

.ez-popup:after {
    border-top-color: rgba(5, 14, 31, .8);
}

#searchSpace {
    padding: 0.05rem 0.1rem 0.1rem 0.1rem;
    height: 1.25rem;
    border-left: 0;
    background-color: transparent;
    border: none;
    color: #F8F9FF;
}

.searchBtns {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: rgba(5, 14, 31, 1) !important;
    background-color: #4E8ABC;
    margin-left: 1.5rem;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.2rem;
}

.searchBtns:hover {
    color: #F8F9FF !important;
}

.checkedDataType {
    float: left;
    width: 1.55rem;
    height: 4rem;
    white-space: normal;
    background-color: #eee;
}

.checkedDataType span:FIRST-CHILD {
    border-top: 0;
}

.checkedDataType span:HOVER {
    cursor: pointer;
}

.checkedDataType input {
    width: 5rem;
    margin-left: 0.75rem;
    margin-right: 0.5rem;
}

.checkedDataType span {
    padding: 0.1rem 0.15rem 0.1rem 1.25rem;
    display: block;
    width: 0.15rem;
    height: 1.75rem;
    line-height: 1.4rem;
    color: #444;
    position: relative;
}

.checkedDataType span img {
    position: absolute;
    left: 0.35rem;
    top: 0.2rem;
}

.checkedDataType p.roundText {
    position: absolute;
    left: -0.05rem;
    top: 1rem;
    color: #333;
    margin: 0;
    -webkit-transform: scale(0.8);
    text-align: center;
    font-size: 0.45rem; /**for IE*/
}

span.dataTypeActive {
    background: #fff;
    border-top: 0.05rem solid #ddd;
    border-bottom: 0.05rem solid #ddd;
    border-right: 0.05rem solid #fff;
}

.searchAroundSpace p {
    font-size: 0.5rem;
    line-height: 1rem;
    color: #333333;
    padding-left: 0.25rem;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.searchAroundSpace p input {
    width: 3.5rem;
}

.searchAroundSpace p a[href] {
    font-size: 0.55rem;
    display: inline-block;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    color: #0088cc;
}

.hotSpotPup {
    padding: 0.25rem 1rem 0.25rem 0.5rem;
    background-color: #fff;
    text-align: center;
    line-height: 1.25rem;
    min-width: 5rem;
}
/**
	路径查询
*/
.bus_container {
    border: 0.05rem solid #9CB5FF;
    padding: 0.1rem;
    margin-left: 0.6rem;
    margin-bottom: 0.15rem;
}

#driving_options {
    padding: 0.5rem;
}

#driving {
    border-top: 0.05rem solid #cecece;
    clear: both;
    margin-top: 0.1rem;
}

#driving_options {
    height: 1.1rem;
    line-height: 1.1rem;
    width: 14rem;
}

.driving_headerr {
    width: 4.5rem;
    float: left;
    padding-top: 0.1rem;
    text-align: center;
    background: #f8f8f8;
    border: 0.05rem solid #cecece;
    border-right: none;
    cursor: pointer;
}

.driving_selected {
    background: #dddddd;
    cursor: none;
}

#driving_content {
    width: 16rem;
}

.driving_title {
    width: 14rem;
    color: #0697e7;
    font-weight: bold;
    font-size: 0.65rem;
    height: 1.5rem;
    background-color: #def1ff;
    padding: 0.25rem;
}

.driving_start {
    height: 1.3rem;
    line-height: 1.3rem;
    width: :10.5rem;
    margin: 0.25rem;
}

.driving_end {
    height: 1.3rem;
    line-height: 1.3rem;
    width: :10.5rem;
    margin: 0.25rem;
}

.driving_qi {
    background: url("../../images/list/way_btn.png") no-repeat -0.3rem -0.35rem;
    width: 1rem;
    height: 1rem;
    margin: 0.1rem 0.25rem;
    display: block;
    float: left;
}

.driving_zhong {
    background: url("../../images/list/way_btn.png") no-repeat -1.65rem -0.35rem;
    width: 1rem;
    height: 1rem;
    margin: 0.1rem 0.25rem;
    display: block;
    float: left;
}

.title1 {
    font-size: 0.65rem;
    font-weight: 700;
}

.clear {
    clear: both;
}

.direct {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    display: block;
    float: left;
    width: 1rem;
    height: 1rem;
    float: left;
}

.steps {
    float: left;
    width: 12.25rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-bottom: 0.05rem solid #ebebeb;
}

.stepContent {
    margin-left: 0.15rem;
    line-height: 1rem;
}

.stepIndex {
    color: #0697e7;
    width: 1.5rem;
    margin-right: 0.3rem;
}

.turn_right {
    background: url("../../images/list/car.png") no-repeat;
}
/***/
.noway {
    float: left;
    height: 1.1rem;
    width: 1.3rem;
}

.noway_down {
    width: 0.5rem;
    height: 0.35rem;
    background: url("../../images/list/arrow3.png");
    float: left;
    margin: 0.25rem 0 0 0.05rem;
}

.ways {
    position: absolute;
    z-index: 101;
    width: 6rem;
    background-color: #E8F1EE;
    padding: 0.1rem;
    height: 0.9rem;
}

.ways span {
    margin-left: 0.6rem;
}

.ways span a {
    width: 2.4rem;
}

.ways span a:hover {
    background-color: #fff
}

.bus_title {
    width: 15.25rem;
    height: 1.55rem;
    cursor: pointer;
}

.bus_title_selected {
    background-color: #DEF1FF;
    cursor: default;
}

.bus_index {
    background-color: #D5DFFE;
    color: #fff;
    width: 0.5rem;
    height: 0.65rem;
    float: left;
    padding: 0.1rem 0.15rem;
}

.bus_title_name {
    float: left;
    height: 1.1rem;
    width: 10rem;
    font-size: 0.7rem;
    margin: 0.35rem 0.3rem;
    color: #3D6DCC;
}

.bus_title_selected .bus_title_name {
    font-weight: 800;
}

.bus_title_selected .bus_index {
    background-color: #0697E7;
}

.bus_box {
    display: none;
}

#bus_box {
    margin-top: 0.15rem;
    width: 16.2rem;
}

.bus_walking {
    width: 14.7rem;
    margin: 0.25rem;
}

.bus_walk_icon {
    background: url("../../images/list/way_btn.png") no-repeat -0.3rem -3.1rem;
    width: 1rem;
    height: 0.9rem;
    margin: 0.1rem 0.25rem;
    display: block;
    float: left;
}

.bus_tail_icon {
    background: url("../../images/list/way_btn.png") no-repeat -1.6rem -3.1rem;
    width: 1rem;
    height: 0.9rem;
    margin: 0.1rem 0.25rem;
    display: block;
    float: left;
}

.bus_walk_stop {
    color: #3D6DCC;
}

.bus_info {
    color: #999999;
    float: right;
    margin-right: 0.1rem;
}

.bus_content {
    float: left;
    width: 10.5rem;
    line-height: 1rem;
}

.bus_content b {
    color: #3D6DCC;
}

.bus_distance {
    float: left;
    width: 4.2rem;
}

.bus_lines {
    width: 14.7rem;
    margin: 0.25rem;
}

.bus_line_name {
    color: #3D6DCC;
}

#way_choice {
    position: relative;
    margin: 0.25rem;
}

#checkways {
    position: absolute;
    display: none;
    top: 1.3rem;
    left: 3rem;
    background-color: #DAE9FE;
    width: 9.35rem;
    z-index: 1000;
}

#checkways a {
    padding: 0.25rem 0.45rem;
    text-decoration: none;
    color: #336699;
    line-height: 1.2rem;
    display: inline-block;
    height: 1.2rem;
    cursor: pointer;
}

#checkways a:hover {
    background-color: #B4CEFC;
    color: #fff;
}

#checkways a:hover .checkways_cars {
    background: url("../../images/list/way_btn.png") no-repeat -2.9rem -4.2rem;
}

#checkways a:hover .checkways_bus {
    background: url("../../images/list/way_btn.png") no-repeat -1.6rem -4.2rem;
}

#checkways a:hover .checkways_walk {
    background: url("../../images/list/way_btn.png") no-repeat -0.3rem -5.25rem;
}

#checkways span {
    float: left;
}

.checkways_cars {
    background: url("../../images/list/way_btn.png") no-repeat -2.9rem -2.95rem;
    width: 1rem;
    height: 0.9rem;
    display: block;
    margin-top: 0.05rem;
}

.checkways_bus {
    background: url("../../images/list/way_btn.png") no-repeat -1.6rem -2.95rem;
    width: 1rem;
    height: 0.9rem;
    display: block;
    margin-top: 0.05rem;
}

.checkways_walk {
    background: url("../../images/list/way_btn.png") no-repeat -0.3rem -2.95rem;
    width: 1rem;
    height: 0.9rem;
    display: block;
    margin-top: 0.05rem;
}

.road_headerr {
    width: 4.5rem;
    height: 1.1rem;
    line-height: 1.1rem;
    float: left;
    padding-top: 0.1rem;
    text-align: center;
    background: #f8f8f8;
    border: 0.05rem solid #cecece;
    border-right: none;
    cursor: pointer;
}

.road_way_selected {
    background: #dddddd;
    cursor: none;
}

#check_options {
    margin: 0.5rem 0.5rem 0.15rem 0.5rem;
    height: 1.55rem;
}
/**地图右键功能*/
#map_contextmenu {
    position: absolute;
    z-index: 10001;
    width: 5.6rem;
    height: 7.5rem;
}
/**.html_load_shadow{width:100%;height:100%;background-color: #000;filter:progid:DXImageTransform.Microsoft.Blur(PoxelRadius='3',MarkeShadow='true',ShadownOpacity='0.20');box-shadow:0.15rem 0.15rem 0.15rem rgba(0,0,0,0.2);}
*/
.html_load_panel {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.6rem;
    border: 0.05rem solid #336699;
    background-color: #fff;
}

.single_select {
    list-style: none inside none;
    margin: 0;
    padding: 0;
}

.single_select a {
    text-decoration: none;
    color: #737373;
    display: block;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    white-space: nowrap;
}

.single_select a:hover {
    color: #336699;
}

.single_select .seperator {
    border: 0.05rem solid #ccc;
    background-color: #ccc;
    margin: 0 0.15rem;
    overflow: hidden;
}
/**登陆*/
.tabbox {
    width: 16.9rem;
    height: 12.5rem;
    margin: 0rem auto;
    overflow: hidden;
    background-color: #fff;
}

.tabbox .menu5 ul {
    height: 1.4rem;
    margin-top: 0.6rem;
}

.tabbox .menu5 ul li {
    float: left;
    height: 1.4rem;
    line-height: 1.4rem;
    width: 8.4rem;
    color: #757575;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.tabbox .menu5 ul li.hover {
    color: #0b7ff6;
    font-weight: bold;
}

.con_t1 {
    height: 9.3rem;
    padding-top: 1rem;
    text-align: center;
    clear: both;
}

.login_btn {
    width: 5.9rem;
    height: 2.1rem;
    border: none;
    cursor: pointer;
    background-color: #5D9AFF;
    color: #FFF;
    font-size: 0.9rem;
    font-family: Microsoft Yahei;
}

.login_btn2 {
    background: url(../../image/login/qx_btn.png) no-repeat;
    width: 5.9rem;
    height: 2.1rem;
    border: none;
    cursor: pointer;
}

.login_btn3 {
    background: url(../../image/login/zhengshu.png) no-repeat;
    width: 13.9rem;
    height: 2.1rem;
    border: none;
    margin-top: 2.1rem;
    margin-left: 1.4rem;
    cursor: pointer;
    display: inline;
}

.text1 {
    background: url(../../image/login/input_bg_user.png) no-repeat;
    border: none;
    width: 11.85rem;
    height: 2.1rem;
    line-height: normal;
    line-height: 2.1rem\9;
    margin-bottom: 0.75rem;
    padding-left: 2.25rem;
}

.text2 {
    background: url(../../image/login/input_bg_pass.png) no-repeat;
    border: none;
    width: 11.85rem;
    height: 2.1rem;
    line-height: 2.1rem;
    line-height: normal;
    line-height: 2.1rem\9;
    margin-bottom: 0.75rem;
    padding-left: 2.25rem;
}

#one1 {
    border-right: 0.05rem solid #BCD6FA;
}

.logdia_title {
    width: 16.9rem;
    height: 1.8rem;
    background-color: #f7f7f7;
    border-bottom: 0.05rem solid #f2f2f2;
    position: relative;
}

.logdia_pal {
    position: absolute;
    top: 0.5rem;
    left: 15.15rem;
    cursor: pointer;
}

.logdia_pal a {
    width: 0.8rem;
    height: 0.8rem;
    display: block;
    background: url(../../image/login/login_icons.png) -2.8rem -2.4rem no-repeat;
}

.logdia_pal a:hover {
    width: 0.8rem;
    height: 0.8rem;
    background: url(../../image/login/login_icons.png) -3.6rem -2.4rem no-repeat;
}

/********高德导航样式开始*******/
.roadSearchResultBox {
    background-color: transparent;
    font-size: 0.8rem;
}

.bus_container {
    border: 0.05rem solid #9CB5FF;
    padding: 0.1rem;
    margin-left: 0.6rem;
    margin-bottom: 0.15rem;
    width: 14.85rem;
}

#driving_options {
    padding: 0.5rem;
}

#driving {
    border-top: 0.05rem solid #cecece;
    clear: both;
    margin-top: 0.1rem;
}

#driving_options {
    height: 1.1rem;
    line-height: 1.1rem;
    width: 14rem;
}

.driving_headerr {
    width: 4.5rem;
    float: left;
    padding-top: 0.1rem;
    text-align: center;
    background: #f8f8f8;
    border: 0.05rem solid #cecece;
    border-right: none;
    cursor: pointer;
}

.driving_selected {
    background: #dddddd;
    cursor: none;
}

#driving_content {
    width: 16rem;
}

.driving_title {
    width: 14rem;
    color: #0697e7;
    font-weight: bold;
    font-size: 0.65rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: #def1ff;
    padding: 0.25rem;
}

.driving_start {
    line-height: 1.3rem;
    margin: 0.25rem;
    cursor: pointer;
}

.driving_end {
    line-height: 1.3rem;
    margin: 0.25rem;
    cursor: pointer;
}

.driving_qi {
    background: url("../../images/list/way_btn.png") no-repeat -0.3rem -0.35rem;
    width: 1rem;
    height: 1rem;
    margin: 0.1rem 0.25rem;
    display: block;
    float: left;
}

.driving_zhong {
    background: url("../../images/list/way_btn.png") no-repeat -1.65rem -0.35rem;
    width: 1rem;
    height: 1rem;
    margin: 0.1rem 0.25rem;
    display: block;
    float: left;
}

.title1 {
    font-size: 0.65rem;
    font-weight: 700;
}

.clear {
    clear: both;
}

.start_bubble {
    width: 2.1rem;
    height: 2.1rem;
    background: url("../../images/poi.png") -16.55rem -9.1rem;
}

.end_bubble {
    width: 2.1rem;
    height: 2.1rem;
    background: url("../../images/poi.png") -16.55rem -6.8rem;
}

.drivili {
    cursor: pointer;
}

.direct {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    display: block;
    float: left;
    width: 1rem;
    height: 1rem;
    float: left;
}

.steps {
    float: left;
    width: 12rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-bottom: 0.05rem solid #ebebeb;
}

.stepContent {
    margin-left: 0.15rem;
    line-height: 1rem;
}

.stepContent_show {
    margin-top: 1rem;
}

.stepContent_show a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.stepContent_show span {
    padding: 0.5rem 1.2rem 0.5rem 0.5rem;
}

.stepContent_line {
    border-bottom: 0.05rem solid #99adce;
    margin: 0.25rem 0;
}

.stepIndex {
    color: #0697e7;
    width: 1.5rem;
    margin-right: 0.3rem;
}

.turn_ahead {
    background: url("../../images/list/car.png") no-repeat 0rem 0rem;
}

.turn_right {
    background: url("../../images/list/car.png") no-repeat 0rem -1.15rem;
}

.turn_right_ahead {
    background: url("../../images/list/car.png") no-repeat 0rem -6rem;
}

.turn_left {
    background: url("../../images/list/car.png") no-repeat 0rem -4.75rem;
}

.turn_left_ahead {
    background: url("../../images/list/car.png") no-repeat 0rem -7.15rem;
}

.near_left {
    background: url("../../images/list/car.png") no-repeat 0rem -3.5rem;
}

.near_right {
    background: url("../../images/list/car.png") no-repeat 0rem -2.25rem;
}

.turnBack_left {
    background: url("../../images/list/car.png") no-repeat 0rem -8.35rem;
}
/***/
.noway {
    float: left;
    height: 1.1rem;
    width: 1.3rem;
}

.noway_down {
    width: 0.5rem;
    height: 0.35rem;
    background: url("../../images/list/arrow3.png");
    float: left;
    margin: 0.25rem 0 0 0.05rem;
}

.ways {
    position: absolute;
    z-index: 101;
    width: 6rem;
    background-color: #E8F1EE;
    padding: 0.1rem;
    height: 0.9rem;
}

.ways span {
    margin-left: 0.6rem;
}

.ways span a {
    width: 2.4rem;
}

.ways span a:hover {
    background-color: #fff
}

.bus_title {
    width: 14.75rem;
    cursor: pointer;
}

.bus_title_selected {
    background-color: #DEF1FF;
    cursor: default;
}

.bus_index {
    background-color: #D5DFFE;
    color: #fff;
    width: 0.5rem;
    height: 0.65rem;
    float: left;
    padding: 0.1rem 0.15rem;
}

.bus_title_name {
    float: left;
    width: 12.5rem;
    font-size: 0.7rem;
    margin: 0.15rem 0 0.25rem 0.15rem;
    color: #3D6DCC;
}

.bus_title_selected .bus_title_name {
    font-weight: 800;
}

.bus_title_selected .bus_index {
    background-color: #0697E7;
}

.bus_box {
    display: none;
}

#bus_box {
    margin-top: 0.15rem;
    width: 16.2rem;
}

.bus_walking {
    width: 14.7rem;
    margin: 0.25rem;
}

.bus_walk_icon {
    background: url("../../images/list/way_btn.png") no-repeat -0.3rem -3.1rem;
    width: 1rem;
    height: 0.9rem;
    margin: 0.1rem 0.25rem;
    display: block;
    float: left;
}

.bus_tail_icon {
    background: url("../../images/list/way_btn.png") no-repeat -1.6rem -3.1rem;
    width: 1rem;
    height: 0.9rem;
    margin: 0.1rem 0.25rem;
    display: block;
    float: left;
}

.bus_walk_stop {
    color: #3D6DCC;
}

.bus_info {
    color: #999999;
    float: right;
    margin-right: 0.2rem;
}

.bus_content {
    float: left;
    width: 10.5rem;
    line-height: 1rem;
}

.bus_content b {
    color: #3D6DCC;
}

.bus_distance {
    float: left;
    width: 4.2rem;
}

.bus_lines {
    width: 14.7rem;
    margin: 0.25rem;
}

.bus_line_name {
    color: #3D6DCC;
}

.bus_stop {
    cursor: pointer;
}

.bus_line {
    cursor: pointer;
}

#way_choice {
    position: relative;
    margin: 0.25rem;
}

#checkways {
    background-color: #DAE9FE;
    width: 6.2rem;
    float: left;
    margin-bottom: 0.25rem;
}

#checkways a {
    padding: 0.25rem 0.45rem;
    text-decoration: none;
    color: #336699;
    line-height: 1.2rem;
    display: inline-block;
    height: 1.2rem;
    cursor: pointer;
}

#checkways a:hover {
    background-color: #B4CEFC;
    color: #fff;
}

#checkways a:hover .checkways_cars {
    background: url("../../images/list/way_btn.png") no-repeat -2.9rem -4.2rem;
}

#checkways a:hover .checkways_bus {
    background: url("../../images/list/way_btn.png") no-repeat -1.6rem -4.2rem;
}

#checkways a:hover .checkways_walk {
    background: url("../../images/list/way_btn.png") no-repeat -0.3rem -5.25rem;
}

#checkways span {
    float: left;
}

.checkways_cars {
    background: url("../../images/list/way_btn.png") no-repeat -2.9rem -2.95rem;
    width: 1rem;
    height: 0.9rem;
    display: block;
    margin-top: 0.05rem;
}

.checkways_bus {
    background: url("../../images/list/way_btn.png") no-repeat -1.6rem -2.95rem;
    width: 1rem;
    height: 0.9rem;
    display: block;
    margin-top: 0.05rem;
}

.checkways_walk {
    background: url("../../images/list/way_btn.png") no-repeat -0.3rem -2.95rem;
    width: 1rem;
    height: 0.9rem;
    display: block;
    margin-top: 0.05rem;
}

.road_headerr {
    width: 4.5rem;
    height: 1.1rem;
    line-height: 1.1rem;
    float: left;
    padding-top: 0.1rem;
    text-align: center;
    background: #f8f8f8;
    border: 0.05rem solid #cecece;
    border-right: none;
    cursor: pointer;
}

.road_way_selected {
    background: #dddddd;
}

#check_options {
    margin: 0.5rem 0.5rem 0.15rem 0.5rem;
    height: 1.55rem;
}

.checkways_check {
    background: #90D3ED;
}

.checkways_check span {
    color: #456;
}

.railway_marker {
    width: 1.05rem;
    height: 1.05rem;
    background: url("../../images/busroute.png") -0.3rem -0.1rem;
}

.bus_marker {
    width: 1.05rem;
    height: 1.05rem;
    background: url("../../images/busroute.png") -1.65rem -0.1rem;
}

.attative_point {

}

.attemp_address {
    float: left;
    width: 9rem;
    text-align: center;
    margin: 0 auto;
    height: 1.8rem;
    margin-top: 0.6rem;
}

.mark_start {
    float: left;
    height: 1.8rem;
}

.mark_start_div {
    height: 2.8rem;
    background-color: #F2E8B9;
    height: 0.8rem;
    cursor: pointer;
    padding: 0.2rem;
    margin: 0.6rem 0.3rem;
}

.attemli {
    margin: 0.1rem 0.15rem;
    cursor: pointer;
}

.conselheader {
    height: 1.3rem;
    font-size: 0.7rem;
    margin: 0.15rem;
    padding: 0.1rem;
    background: url(../../images/dt_Bg.png);
    cursor: pointer;
}

.conselheader div {
    margin: 0.15rem;
}

.select_point {
    border: 0.05rem solid #E6C3A1;
}

.confirm_point {
    border: 0.05rem solid #B8C7E6;
}

.icon_question {
    float: left;
    width: 1.1rem;
    height: 1.1rem;
}

.select_point .icon_question {
    background: url(../../images/list/poi.png) -0.2rem -0.2rem;
}

.confirm_point .icon_question {
    background: url(../../images/list/poi.png) -1.7rem -0.2rem;
}

.liattmhover {
    background-color: #E8EAFA;
}

/********高德导航样式结束*******/
.favRoadEntry {
    line-height: inherit;
    padding: 0 0.75rem;
    margin: 0 0.5rem;
}

.ez-popup {
    border: 0.05rem solid #999999;
    background-color: rgba(5, 14, 31, .8);
    color: #F9F8FF;
    max-width: 18.5rem;
    padding: 0;
    z-index: 10;
}

.ez-popup a {
    color: #0078A8;
}

.ez-popup a:hover {
    text-decoration: none;
    color: #e20000;
}

.ez-popup-content {
    text-align: left;
    font-size: 0.6rem;
}

.ez-popup-closer {
    top: 0.35rem !important;
}


.ez-zc-popup-table {
    width:21rem;
    height:11rem;
    color:#F9F8FF;
    background-color: rgba(5, 14, 31, .8);
    border:0.05rem solid #999999;
    border-radius:5px;
}
.ez-zc-popup-title-div {
    height:1.5rem;
}
.ez-zc-popup-title {
    font-weight: bold;
    font-size:0.8rem;
    position:absolute;
    left: 50%;transform: translate(-50%,0);
    margin-top: 0.3rem;
}

.ez-zc-popup-detail-table{
    font-size:0.65rem;
    border-spacing:0px 0.6rem;
    margin-left:1rem;
}
.ez-zc-popup-detail-table tr{
    padding-top:0.5rem;
}

.ez-zc-popup-detail-table td{
    width:50%;
}