@charset "utf-8";
/* 全局导入  后面可做css合并*/
/* 样式初始化，修正浏览器差异 */
@import url("moreCss/init.css");
/* zhzx项目结构布局 */
@import url("moreCss/layout.css");
@import url("moreCss/default.css");
@import url("moreCss/cssv2.css");
@import url("moreCss/css.css");

/** 地图二次开发  **/
.ez-editCircle-btn{
	cursor: e-resize;
}
#ezmap .ez-simple-zoom{
	right:1rem;
	/* left:auto;
	top:49%;
	bottom:auto;  */
	box-shadow: 0.1rem 0.05rem 0.2rem 0 rgb(202, 201, 201);
}
#ezmap .ez-simple-btn:nth-child(2){
	border-top: 0.05rem solid #cccccc;
    border-bottom: 0.05rem solid #cccccc;
}
#ezmap .ez-simple-status{
	color: #666;
}
/* 插件样式二次开发 */
/* zhzx比例尺和鹰眼 */
.ez-scale-line {
	left: 50% !important;
    transform: translate(-50%, 0) !important;
}

.ez-custom-overview, .ez-custom-overview.ol-uncollapsible {
    bottom: 4rem !important;
    right: 3rem !important;
}

/* 滚动条 */
/* theme: "blue" */

	.mCS-blue.mCSB_scrollTools .mCSB_draggerRail{ background-color: #006486; background-color: rgba(178, 180, 181,0.15); }

	.mCS-blue.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #006486; background-color: rgba(178, 180, 181,0.75); }

	.mCS-blue.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: rgba(178, 180, 181,0.85); }

	.mCS-blue.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCS-blue.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: rgba(178, 180, 181,0.9); }

	.mCS-blue.mCSB_scrollTools .mCSB_buttonUp{ background-position: -4rem 0; }

	.mCS-blue.mCSB_scrollTools .mCSB_buttonDown{ background-position: -4rem -1rem; }

	.mCS-blue.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -4rem -2rem; }

	.mCS-blue.mCSB_scrollTools .mCSB_buttonRight{ background-position: -4rem -2.8rem; }
	
	/* ---------------------------------------- */
	
/* theme "blue-thin" */
	
	.mCS-blue-thin.mCSB_scrollTools .mCSB_draggerRail{ background-color: #bbb; background-color: rgba(112, 112, 112,0.15); }

	.mCS-blue-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #bbb; background-color: rgba(112, 112, 112,0.75); }
	
	.mCS-blue-thin.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #bbb; background-color: rgba(112, 112, 112,0.85); }
	
	.mCS-blue-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCS-blue-thin.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #bbb; background-color: rgba(112, 112, 112,0.9); }
	
	.mCS-blue-thin.mCSB_scrollTools .mCSB_buttonUp{	background-position: -4rem 0; }

	.mCS-blue-thin.mCSB_scrollTools .mCSB_buttonDown{ background-position: -4rem -1rem; }

	.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -4rem -2rem; }

	.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonRight{ background-position: -4rem -2.8rem; }
	
	/* ---------------------------------------- */
	
#onlocatDataList .mCSB_inside > .mCSB_container{
	margin-right:0; 
}

#policeData .mCSB_horizontal.mCSB_inside > .mCSB_container{
	margin-bottom: 0rem;
}
#policeData .mCSB_scrollTools.mCSB_scrollTools_horizontal{
	bottom: -0.45rem;
}
#policeData .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight{
	right:0.4rem;
	top:-0.75rem;
}
#policeData .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft{
	left:0.4rem;
	top:-0.75rem;
}
#onlineDataResultTitleViewList .mCSB_scrollTools.mCSB_scrollTools_horizontal{
	bottom: -0.45rem;
}